@tailwind base;
@tailwind components;
@tailwind utilities;




@font-face {
  font-family: "Estedad-Black";
  src: url("../public/font/Estedad-Black.ttf");
}

@font-face {
  font-family: "Estedad-Bold";
  src: url("../public/font/Estedad-Bold.ttf");
}

@font-face {
  font-family: "Estedad-ExtraBold";
  src: url("../public/font/Estedad-ExtraBold.ttf");
}

@font-face {
  font-family: "Estedad-ExtraLight";
  src: url("../public/font/Estedad-ExtraLight.ttf");
}

@font-face {
  font-family: "Estedad-Light";
  src: url("../public/font/Estedad-Light.ttf");
}

@font-face {
  font-family: "Estedad-Medium";
  src: url("../public/font/Estedad-Medium.ttf");
}

@font-face {
  font-family: "Estedad-Regular";
  src: url("../public/font/Estedad-Regular.ttf");
}

@font-face {
  font-family: "Estedad-SemiBold";
  src: url("../public/font/Estedad-SemiBold.ttf");
}

@font-face {
  font-family: "Estedad-Thin";
  src: url("../public/font/Estedad-Thin.ttf");
}