@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold leading-[140%];
  }

  h1 {
    @apply text-[44px];
  }

  h2 {
    @apply text-[40px];
  }

  h3 {
    @apply text-[32px];
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-xl;
  }

  h6 {
    @apply text-base;
  }
}

@layer components {
  .body-xl {
    @apply text-xl font-normal leading-[180%];
  }

  .body-lg {
    @apply text-[18px] font-normal leading-[180%];
  }

  .body-md {
    @apply text-base font-normal leading-[180%];
  }

  .body-sm {
    @apply text-sm font-normal leading-[180%];
  }

  .caption-lg {
    @apply text-sm font-normal leading-[180%];
  }

  .caption-md {
    @apply text-xs font-normal leading-[180%];
  }

  .caption-sm {
    @apply text-[10px] font-normal leading-[180%];
  }

  .button-lg {
    @apply text-base font-medium leading-[180%];
  }

  .button-sm {
    @apply text-sm font-medium leading-6;
  }

  .overline-lg {
    @apply text-base font-normal leading-[180%];
  }

  .overline-sm {
    @apply text-xs font-bold;
  }

  .header-2 {
    @apply text-[40px] font-bold leading-[140%]
  }

  .header-5 {
    @apply text-xl font-bold leading-[140%]
  }

  .header-6 {
    @apply text-base font-bold leading-[140%]
  }

  .header-7 {
    @apply text-xl font-semibold leading-[180%]
  }


  .choose-branch-shadow {
    box-shadow: 0px 16px 6px rgba(0, 0, 0, 0.01), 0px 9px 5px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.09), 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  }


  .choose-branch {
    @apply border border-primary rounded lg:rounded-lg grid grid-cols-2 gap-2 lg:flex lg:items-center lg:flex-col duration-300 relative lg:h-[344px] overflow-hidden
  }

  .choose-branch:hover .img-desktop {
    @apply brightness-50 lg:h-[190px]
  }

  .choose-branch:hover button {
    @apply flex
  }

  .choose-branch:hover span {
    @apply flex
  }

  /* .inp3:focus-visible p{
    display: none;
  } */

  .dropdown-menu-shadow {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
  }

  .dropdown:hover .dropdown-menu,
  .user-dropdown:hover .dropdown-menu {
    /* display: block; */
    @apply block
  }

  .dropdown:hover div>span {
    @apply text-primary border-b
  }

  .dropdown:hover div>svg {
    @apply text-primary rotate-180
  }

  .user-dropdown:hover div>svg {
    @apply text-white
  }

  .user-dropdown:hover div>svg:nth-of-type(2) {
    @apply block
  }

  .phoneMenu-bg {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    filter: blur(3px);
  }


}